.not-grabber{
    cursor:move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.grabber{
    cursor:grabbing;
    cursor: -webkit-grabbin;
    cursor: -moz-grabbing;
}

.box{
    background-color: wheat ;
    border: 5px black;
    border-radius: 50%;
}

  